.menu-item {
    flex: 0 50%;
    border: 0;
    border-right: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
}

.menu-item:nth-child(even) {
    border-right: 0;
}

.navbar-nav .nav-link {
    display: inline-block;
    font-weight: 700;
    color: #292929 !important;
    font-size: 14px;
    padding: 12px 15px 10px !important;
    border-bottom: 2px solid transparent;
    width: 100%;
    text-align: center;
}

.nav-link:hover {
    background: #fbfbfb;
    color: #000;
    border-bottom: 2px solid #194493;
}

.menu-item-icon {
    display: inline-block;
    vertical-align: middle;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 10px;
    width: 25px;
    height: 25px;
}

@media (min-width: 576px) {
    .menu-item {
        flex: initial;
        border: 0;
        border-right: 1px solid #dedede;
    }

    .menu-item {
        width: 25%;
    }

    .menu-item:nth-child(even) {
        border-right: 1px solid #dedede;
    }

    .menu-item:last-child {
        border-right: 0;
    }
}

@media (min-width: 992px) {
    .navbar-nav .nav-link {
        padding: 27px 15px 21px !important;
        border-bottom: 6px solid transparent;
        width: auto;
    }

    .nav-link:hover {
        border-bottom: 6px solid #194493;
    }

    .menu-item {
        width: auto;
    }
}

