body {
    padding-top: 80px;
}

.navbar {
    background-color: #fff !important;
    border-bottom: 1px solid #dedede;
    height: 80px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar-collapse {
    background: rgb(255, 255, 255);
    border-bottom: 1px solid rgba(221, 238, 221, 0.933);
    position: absolute;
    text-align: center;
    top: 80px;
    left: 0px;
    right: 0px;
}

.navbar-toggler {
    border-radius: 100%;
    border: none;
    color: #292929;
    height: 54px;
    width: 54px;
}

.navbar-nav {
    flex-wrap: wrap;
    flex-direction: row;
}

.menu-title {
    display: inline-block !important;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 20px;
}

@media (max-width: 991.98px) {
    .navbar .container {
        max-width: 97.5%;
    }
}

@media (min-width: 576px) { 
    body {
        padding-top: 130px;
    }

    .navbar {
        height: initial;
        min-height: 80px;
        padding-top: 0;
        padding-bottom: 0;
    }
    
    .navbar-collapse {
        background: initial;
        border-bottom: initial;
        position: initial;
        text-align: initial;
    }

    .navbar-nav {
        position: absolute;
        top: 80px;
        right: 0;
        left: 0;
        width: 100%;
        justify-content: center;
        background: white;
        border-bottom: 1px solid #dedede;
        flex-wrap: initial;
        flex-direction: column;
    }
    
    .menu-title {
        display: none !important;
    }
}

@media (min-width: 992px) { 
    body {
        padding-top: 80px;
    }

    .navbar-nav {
        position: initial;
        width: auto;
        justify-content: center;
        background: transparent;
        border-bottom: none;
    }
}

