.social-media-area {
    display: inline-block;
    vertical-align: middle;
}

.social-media-area i{
    margin: 0 5px;
    font-size: 24px;
    color: #dedede;
}

.social-media-area i.fa-facebook-square:hover {
    color: #3b5998;   
}

.social-media-area i.fa-twitter-square:hover {
    color: #38A1F3;   
}

@media (min-width: 576px) {
    .social-media-area {
        display: block;
    }

    .social-media-area i{
        font-size: 32px;
    }

    .d-lg-none h6.title-small {
        margin-top: 30px;
    }
}