body {
    /* min-height: 1000px; */
}

.gradient-bg {
    background: rgb(19,46,125);
    background: -moz-linear-gradient(90deg, rgba(19,46,125,1) 0%, rgba(25,68,147,1) 50%, rgba(19,46,125,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(19,46,125,1) 0%, rgba(25,68,147,1) 50%, rgba(19,46,125,1) 100%);
    background: linear-gradient(90deg, rgba(19,46,125,1) 0%, rgba(25,68,147,1) 50%, rgba(19,46,125,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#132e7d",endColorstr="#132e7d",GradientType=1);
}

/* Breadcrumb */
.breadcrumb {
    padding: 0;
    background: transparent;
    font-size: 14px;
}

.breadcrumb-item a, .breadcrumb-item+.breadcrumb-item::before, .breadcrumb-item .active{
    color: #292929;
}

.breadcrumb.light .breadcrumb-item a, .breadcrumb.light .breadcrumb-item+.breadcrumb-item::before, .breadcrumb.light .breadcrumb-item .active{
    color: #fff;
}

.breadcrumb-item .active{
    font-weight: 700;
}

/* Search pages header */
.search-page-header {
    background: #fff;
    width: 100%;
    border-bottom: 1px solid #dedede;
    padding: 40px 0 20px;
}

h1.page-big-title {
    font-size: 72px;
    font-weight: 900;
    color: #dedede;
    margin: 0;
    margin-top: 75px;
}