/* primary */
.btn-primary {
    background-color: #194493;
    border: none;
    font-size: 14px;
    font-weight: 700;
}

.btn-primary:hover {
    background-color: #132e7d;
}

/* light */
.btn-light {
    background-color: #fff !important;
    color: #292929;
    border: none;
}

.btn-light:hover {
    background-color: #132e7d;
    color: #000;
}

/* layout */
.btn-layout {
    padding: 3px 15px;
    font-size: 14px;
    font-weight: 700;
}

@media (min-width: 576px) { 
    .btn-layout {
        padding: 12px 30px;
    }
}
