.courses-icon {
    background-image:  url(../../assets/icons/courses-icon.png)
}

.events-icon {
    background-image:  url(../../assets/icons/events-icon.png)
}

.visits-icon {
    background-image:  url(../../assets/icons/visits-icon.png)
}

.blogs-icon {
    background-image: url(../../assets/icons/blog-icon.png)
}