html {
    min-height: 100%;
    position: relative;
}

body {
    margin-bottom: 300px;
}

.footer {
    background-color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #dedede;
    font-size: 14px;
    font-weight: 700;
    height: 300px;
    padding: 9px 0 !important;
}

.footer .row>div {
    padding-top: 15px;
    padding-bottom: 15px;
}

.footer .row>div:nth-child(3) {
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
}

.title-small {
    font-size: 14px;
    font-weight: 700;
    color: #292929;
    margin-bottom: 15px;
}

.footer .title-small {
    display: none;
}

@media (min-width: 576px) { 
    body {
        margin-bottom: 400px;
    }

    .footer {
        height: 400px;
        padding-top: 56px !important;
        padding-bottom: 56px !important;
    }

    .footer .row>div {
        padding-top: 0;
        padding-bottom: 0;
    }
    
    .footer .row>div:nth-child(3) {
        border-top: none;
        border-bottom: none;
    }

    .footer .title-small {
        display: block;
        margin-bottom: 30px;
    }
}

@media (min-width: 992px) { 
    body {
        margin-bottom: 360px;
    }

    .footer {
        height: 360px;
        padding-top: 70px !important;
        padding-bottom: 70px !important;
    }
}