.logo-area img {
    margin-bottom: 15px;
}

.logo-area p {
    margin-bottom: 0;
}

@media (min-width: 576px) {
    .logo-area {
        text-align: center;
        margin-top: 40px;
    }
    
    .logo-area img {
        margin-bottom: 0;
    }

    .logo-area p {
        display: inline-block;
        vertical-align: middle;
        margin-left: 45px;
        margin-bottom: 0;
    }
}

@media (min-width: 768px) {
    .logo-area p {
        margin-left: 70px;
    }
}

@media (min-width: 992px) { 
    .logo-area {
        text-align: left;
        margin-top: 0;
    }
    
    .logo-area img {
        margin-bottom: 25px;
    }

    .logo-area p {
        display: block;
        margin-left: 0;
    }
}