.site-map {
    list-style: none;
    margin-bottom: 0;
}

.site-map li {
    display: inline-block;
    text-align: center;
    width: 25%;
}

.site-map .menu-item-icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

.site-map .title-small {
    margin-left: 15px;
}

@media (min-width: 576px) { 
    .site-map li {
        display: block;
        text-align: initial;
        width: initial;
    }
    
    .site-map .menu-item-icon {
        display: inline-block;
        margin: 0;
        margin-right: 10px;
    }    
}

@media (min-width: 768px) { 
    .site-map {
        margin-left: 90px;
    }
}

@media (min-width: 992px) { 
    .site-map {
        margin-left: 20px;
    }
}