.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #00000080;
    cursor: auto;
    opacity: 0;
    z-index: -1;
}

.overlay.show {
    z-index: 990;
    cursor: pointer;
    opacity: 1;
}

.overlay.hidden { 
    z-index: -1;
    cursor: auto;
    opacity: 0;
}

@media (min-width: 576px) { 
    .overlay {
        display: none !important;
    }
}