* {
  margin: 0;
  padding: 0;
  -webkit-transition: all 100ms ease;
  -moz-transition: all 100ms ease;
  -ms-transition: all 100ms ease;
  -o-transition: all 100ms ease;
  transition: all 100ms ease;
}

body {
  background: #f6f6f6;
  font-family: 'Lato', sans-serif;
  line-height: 1.4;
}
