.footer-link {
    text-decoration: none !important;
    display: inline-block;
    padding: 7px;
    border-left: 6px solid #fff;
    color: #292929;
}

.footer-link:hover {
    background: #fbfbfb;
    color: #000;
}

@media (min-width: 576px) {
    .footer-link {
        border-left: 2px solid #fff;
        min-width: 80%;
    }
    
    .footer-link:hover {
        border-left: 2px solid #132e7d;
    }
}

@media (min-width: 992px) { 
    .footer-link {
        border-left: 6px solid #fff;
    }
    
    .footer-link:hover {
        border-left: 6px solid #132e7d;
    }
}